.tweet {
    border-left: 2px solid rgb(82, 79, 159);
    background-color: white;
    border-bottom: 2px solid rgb(82, 79, 159);
    border-radius: 0 0 0 20px;
  }
  .tweet-content p{
    padding-top: 10px;
  }
  .tweet .tweet-container {
    padding: 20px;
    
  }
  .dark .tweet{
    background-color: #1c1e32;
    color: white;
  }
  
  
  .tweet .tweet-container .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .tweet .tweet-container .user .userInfo {
    display: flex;
    gap: 20px;
  }
  
  .tweet .tweet-container .user .userInfo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -50px;
    margin-top: -30px;
  }
  
  .tweet .tweet-container .user .userInfo .details {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
  }
  
  .tweet .tweet-container .user .userInfo .details .name {
    font-weight: 500;
  }
  
  .tweet .tweet-container .user .userInfo .details .date {
    font-size: 12px;
    
  }
  
  .tweet .tweet-container .tweet-content {
    margin: 20px 10px;
    margin-bottom: 0px;
  }
  
  .tweet .tweet-container .tweet-content img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-top: 0px;
  }
  
  .tweet .tweet-container .info {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
  }
  
  .tweet .tweet-container .info .item {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 20px;
    
  }
  
  .tweet .tweet-container .info .item button{
    font-size: 20px;
  }
  
  .tweet-comment-input-section input{
    width: 80%;
    margin-right: 1rem;
    border-radius: 10px;
    border: 1px solid #444874;
    padding: 10px;
  
  }
  .info .item svg{
    border-radius: 0px;
  }
  
  .dark .tweet-comment-input-section input{
    background-color: #1c1e32;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
    color: white;
    
  }
  
  li{
    list-style: none;
    
  }
  .tweet-content p{
    font-size: 20px;
  }
  
  .comments-list li{
    padding-bottom: 20px;
  }
  
  li.tweet-comment-item{
    display: flex;
    align-items: center;
    border-left: 2px solid #524f9f;
    border-radius: 0px;
    margin-left: 40px;
  }
  li.tweet-comment-item img{
    margin-left: -10px;
    margin-top: -25px !important;
  }
  @media (max-width: 500px) {
    
    .tweet .tweet-container .user .userInfo .details .name {
      font-size: 30px;
    }
    .tweet .tweet-container .user .userInfo .details .date{
      font-size: 20px;
    }
    .tweet-content p {
      font-size: 28px;
    }
    
    li.tweet-comment-item{
      font-size: 28px;
    }
    li.tweet-comment-item img{
      width: 45px !important;
      height: 45px !important;
    }
  
    .userInfo img{
      width: 70px !important;
      height: 70px !important;
    }
    .info .item{
      font-size: 30px !important;
    }
    .info .item svg{
      font-size: 30px;
    }
    .tweet-comment-input-section input{
      font-size: 25px;
    }
    .tweet-comment-input-section{
      margin-top: 10px;
    }
    .tweet-comment-input-section button{
      font-size: 25px;
    }
    .item .sharebtn{
      font-size: 25px !important;
    }
  
  }
  
  .tweet-comment-item button {
    background-color: transparent;
    border: none;
    color: white; 
    cursor: pointer;
    margin-left: 10px;
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  
  .tweet-comment-item:hover button {
    opacity: 1; 
  }