.posts-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  
}
.feed-title{
  color: rgb(82, 79, 159);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: -30px;
  margin-left: 30px;
}
.dark .feed-title{
  color: rgb(193 190 255);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: -30px;
  margin-left: 30px;
}


@media screen and (max-width: 500px) {
  .posts-container {
      margin-left: -375px;
      margin-right: 10px;
  }
  .feed-title{
    color: rgb(82, 79, 159);
    font-weight: 900;
    font-size: 35px;
    margin-bottom: -30px;
    margin-left: 30px;
    
  }
  .dark .feed-title{
    color: rgb(193 190 255);
    font-weight: 900;
    font-size: 35px;
    margin-bottom: -30px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .posts-container {
      
      margin-right: 10px;
  }
}

.title-feed{
  
    padding-right: 300px;
    position: sticky;
    margin-left: 400px;
    border: 1px solid black;
    
}

